---
permalink: "/quests/deathtothedorgeshuun"
layout: null
---
{% include quest.html quest=site.data.questData.deathtothedorgeshuun %}
<hr style="border-top: 2px solid #09192A">
<h4>Watermill Fight</h4>
<div class="row">
  <div class="col-md-8 col-sm-8">
    As you enter the Watermill with Zanik as your follower, you will notice Sigmund and three H.A.M. Guards up ahead. Once you get too close, there will be a short dialogue followed by the fight starting. <b>Immediately</b> teleport out, as Zanik's damage counts as yours, hence getting a kill will give you Combat XP. Note that you must teleport out only after the dialogue has happened, otherwise you will have to redo this anyway.
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.hamguard %}
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-8">
    Having teleported out, you now have two options:
    <ul>
      <li>
        Return to the watermill, but get Zanik stuck behind an obstacle while you recoil the guards and Sigmund on your own. This is quite dangerous, as moving too far away from Zanik will cause her to teleport next to you.
      </li>
      <li>
        Return to the watermill, but before climbing down the ladder, summon a pet (not a combat familiar!). The pet will replace Zanik, which prevents her from fighting. Simply recoil and guards and Sigmund on your own.
      </li>
    </ul>
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.sigmunddttd %}
  </div>
</div>
