---
permalink: "/quests/diamondintherough"
layout: null
---
{% include quest.html quest=site.data.questData.diamondintherough %}
<hr style="border-top: 2px solid #09192A">
<h4>Bandits</h4>
<div class="row">
  <div class="col-md-4 col-sm-4">
    Together with Ozan, you have to defeat five bandits and a bandit king. Simply kill them, they do not give Combat XP.
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.banditditr %}
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.banditking %}
  </div>
</div>
<hr style="border-top: 2px solid #09192A">
<h4>Apep and Heru</h4>
<div class="row">
  <div class="col-md-4 col-sm-4">
    In the final showdown, you have to defeat Apep and Heru. Again, simply kill them, they do not give Combat XP.
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.apep %}
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.heru %}
  </div>
</div>
