---
permalink: "/quests/dragonslayer"
layout: null
---
{% include quest.html quest=site.data.questData.dragonslayer %}
<h3>Lozar's Map Piece</h3>
<div class="row">
  <div class="col-md-8 col-sm-8">
    <p>When trying to obtain Lozar's map piece, you will have to deal with Wormbrain. Simply pay him 10,000 Coins for the map piece.</p>
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.wormbrain %}
  </div>
</div>
<h3>Melzar's Map Piece</h3>
<p>Obtaining Melzar's map piece means you have to go through Melzar's Maze. Only specific pre-determined monsters drop keys:
<ul>
  <li>the small Zombie Rat with a long tail,</li>
  <li>the Ghost with a single tendril coming out of each shoulder,</li>
  <li>the Skeleton with a tiny round shield,</li>
  <li>one of two indistinguishable Zombies,</li>
  <li>Melzar the Mad,</li>
  <li>a Lesser Demon.</li>
</ul>
Each of these can be TFK'd for the key drop. Ironmen will have to 51%, however, given the cramped space, you will have to exit the maze to be far enough away. As a result, you will need to collect a total of 32 red keys, 16 orange keys, 8 yellow keys, 4 blue keys, 2 magenta keys and 1 green key.</p>

<h3>Elvarg</h3>
Elvarg is a very tough green dragon. Her dragonfire will always very quickly drain your prayer points, and if not protected against, will also quickly drain all your combat stats. Even with dragonfire protection, the breath can hit 1,000 - 1,500 typeless damage which cannot be recoiled. Her melee attack is marginally weaker but can be recoiled. Using some form of life-point boosting is therefore heavily recommended.

Luckily, Elvarg does not give Combat XP when killed, allow you to fight her normally instead of having to recoil 10,000 LP.
