---
permalink: "/quests/heroesquest"
layout: null
---
{% include quest.html quest=site.data.quests.deathtothedorgeshuun %}
<hr>
<h4>Entranan firebird</h4>
<div class="row">
  <div class="col-md-8 col-sm-8">
    Avoid ice giants and ice warriors, get to ice queen and kill for ice gloves. WIP.
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.icequeen %}
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-8">
    Kill firebird on entrana. Can create poison bombs on island itself.
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.entrananfirebird %}
  </div>
</div>
<hr>
<h4>Lava eel</h4>
No combat in this section, apart from actually getting to the fishing spot. If you can boost to 70 agility, you can avoid all aggressive mosnters by taking the agility shortcut.
<h4>Master thief's armband</h4>
You should do this quest <b>solo</b> as part of the <b>Phoenix Gang</b>. This way, there are no combat requirents nor any combat.
