---
permalink: "/quests/piratestreasure"
layout: null
---
{% include quest.html quest=site.data.quests.piratestreasure %}
<hr>
<h4>X marks the spot</h4>
<div class="row">
  <div class="col-md-8 col-sm-8">
    On your first attempt to dig up the treasure, an angry gardener will spawn and attack you. While you can opt to defeat him, it should suffice to let him lose aggression or despawn, and then try to dig up the treasure again.
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.gardener %}
  </div>
</div>
