---
permalink: "/quests/priestinperil"
layout: null
---
{% include quest.html quest=site.data.questData.priestinperil %}
<hr style="border-top: 2px solid #09192A">
<h4>Cerberus</h4>
<div class="row">
  <div class="col-md-8 col-sm-8">
    As a favour to <q>Drezel</q>, you must defeat the guard dog Cerberus. You can recoil it easily, but a defensive ability (Reflect, Provoke, Revenge) must be used in order for the kill to count. Alternatively, since he awards scaled Combat XP, you could recoil him to 1 LP and then finish him off.
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.wormbrain %}
  </div>
</div>
<hr style="border-top: 2px solid #09192A">
<h4>Monk of Zamorak</h4>
<div class="row">
  <div class="col-md-8 col-sm-8">
    You must kill one of the monks to get a Golden Key drop. Again, recoiling with a defensive ability works just fine. Ironmen will have to 51% for the drop. Note that the account must not have progressed too far in the Myreque quest line to be able to see (and attack) the monks.
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.wormbrain %}
  </div>
</div>
