---
permalink: "/quests/theknightssword"
layout: null
---
{% include quest.html quest=site.data.quests.theknightssword %}
<hr>
<div class="row">
  <div class="col-md-4 col-sm-4">
    This quest does not involve any combat, but you may have to evade or tank some Ice warriors and Ice giants.
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.icewarrior %}
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.icegiant %}
  </div>
</div>

