---
permalink: "/quests/theknightssword"
layout: null
---
{% include quest.html quest=site.data.quests.theknightssword %}
<hr>
<h4>Asgarnian Ice Dungeon</h4>
<div class="row">
  <div class="col-md-4 col-sm-4">
    You will have to evade or tank some Ice warriors and Ice giants, but there is no need to defeat them.
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.icewarrior %}
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.icegiant %}
  </div>
</div>

