---
permalink: "/quests/therestlessghost"
layout: null
---
{% include quest.html quest=site.data.questData.therestlessghost %}
<hr style="border-top: 2px solid #09192A">
<h4>The Ghost's Skull</h4>
<div class="row">
  <div class="col-md-8 col-sm-8">
    When you search the rocks near the south-east Lumbridge swamp mine, you will find the ghost's skull, but you will also be attacked by a Skeleton Warlock. Simply ignore it and run north to Lumbridge.
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.skeletonwarlock %}
  </div>
</div>
