---
permalink: "/quests/vampyreslayer"
layout: null
---
{% include quest.html quest=site.data.quests.vampyreslayer %}
<hr>
<h4>Count Draynor</h4>
<div class="row">
  <div class="col-md-8 col-sm-8">
    Make sure to bring a clove of garlic (can be obtained from a cupboard upstairs in Morgan's house), as well as the Stake and Stake Hammer. Count Draynor does not award Combat XP so he can be killed normally. Poison and recoil can be used if you do not deal enough damage, as his healing rate is unusually high even when you bring garlic.
  </div>
  <div class="col-md-4 col-sm-4">
    {% include monster.html monster=site.data.monsters.countdraynor %}
  </div>
</div>
