---
layout: default
title: Quests
---
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Quests
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="quest-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Members</th>
                <th>Difficulty</th>
                <th>QP</th>
                <th>Possible</th>
              </tr>
            </thead>
            <tbody>
              {% for quest in site.data.quests %}
                <tr class="gradeA">
                  <td>{% if quest.id %}<a href="quest?id={{ quest.id }}">{{ quest.name }}</a>{% else %}{{ quest.name }}{% endif %}</td>
                  <td class="center">
                    {% if quest.members %}
                      <img src="img/20px-P2P_icon.png" alt=""/> Yes
                    {% else %}
                      <img src="img/20px-F2P_icon.png" alt=""/> No
                    {% endif %}
                  </td>
                  <td data-order="{% if quest.difficulty=="Novice" %}1{% elsif quest.difficulty=="Intermediate" %}2{% elsif quest.difficulty=="Experienced" %}3{% elsif quest.difficulty=="Master" %}4{% elsif quest.difficulty=="Grandmaster" %}5{% elsif quest.difficulty=="Special" %}9">
			  {{ quest.difficulty }}
		  </td>
                  <td class="center">{{ quest.QP }}</td>
                  <td class="center">
                    {% if quest.possible %}
		      <span class="mdi mdi-check" style="color:#5cb85c"></span> Yes
                    {% else %}
                      <span class="mdi mdi-close" style="color:#F0433D"></span> No
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <script>
            $(function () {
              $('#quest-table').dataTable();
            });
          </script>
        </div>      
      </div>
    </div>
  </div>
</div>
