<div class="panel panel-primary">
  <div class="panel-heading" style="text-align:center">
    <span style="font-weight:bold">{{ include.monster.name }}</span> (level: {{ include.monster.level }})
  </div>
  <div class="panel-body">
    <p>Information on Life Points, Combat XP drop, HP XP Drop and Max hit goes here.</p>
  </div>
  <div class="panel-footer" style="text-align:center;font-weight:bold;">
    Immunities
  </div>
  <div class="panel-body">
    <table style="width:100%">
      <tr>
        <td style="width:calc(100% / 3);text-align:center;">
          {% if include.monster.immunity.recoil %}
            Immune
          {% else %}
            Not immune
          {% endif %}
        </td>
        <td style="width:calc(100% / 3);text-align:center;">
          {% if include.monster.immunity.poison %}
            Immune
          {% else %}
            Not immune
          {% endif %}
        </td>
        <td style="width:calc(100% / 3);text-align:center;">
          {% if include.monster.immunity.dart %}
            Immune
          {% else %}
            Not immune
          {% endif %}
        </td>
      </tr>
    </table>
  </div>
</div>
