<div class="panel {% if include.monster.level < 75 %}panel-success{% elsif include.monster.level < 150 %}panel-warning{% else %}panel-danger{% endif %}">
  <div class="panel-heading" style="text-align:center">
    <span style="font-weight:bold">{{ include.monster.name }}</span> (level: {{ include.monster.level }})
  </div>
  <div class="panel-footer" style="text-align:center;font-weight:bold;">
    Combat info
  </div>
  <div class="panel-body">
    <table style="width:100%;word-wrap:break-word;table-layout:fixed">
      <thead>
        <tr>
          <th style="width:20%;text-align:center;font-weight:bold">
            LP
          </th>
          <th style="width:20%;text-align:center;font-weight:bold">
            Max Hit
          </th>
          <th style="width:20%;text-align:center;font-weight:bold">
            Combat XP
          </th>
          <th style="width:20%;text-align:center;font-weight:bold">
            HP XP
          </th>
          <th style="width:20%;text-align:center;font-weight:bold">
            Taggable
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width:20%;text-align:center;">
            {{ include.monster.LP | default: '?' }}
          </td>
          <td style="width:20%;text-align:center;">
            {{ include.monster.maxHit | default: '?' }}
          </td>
          <td style="width:20%;text-align:center;">
            {{ include.monster.combatXP | default: '?' }}
          </td>
          <td style="width:20%;text-align:center;">
            {{ include.monster.HPXP | default: '?' }}
          </td>
          <td style="width:20%;text-align:center;">
            {% if include.monster.taggable == true %}
              Yes
            {% elsif include.monster.taggable == false %}
              No
            {% else %}
              ?
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer" style="text-align:center;font-weight:bold;">
    Immunities
  </div>
  <div class="panel-body">
    <table style="width:100%">
      <thead>
        <tr>
          <th style="width:calc(100% / 3);text-align:center;">
            {% if include.monster.immunity.recoil == true %}
              <img src="img/recoil_immune.png" alt="recoil"/>
            {% else %}
              <img src="img/recoil.png" alt="recoil"/>
            {% endif %}
          </th>
          <th style="width:calc(100% / 3);text-align:center;">
            {% if include.monster.immunity.poison == true %}
              <img src="img/poison_immune.png" alt="poison"/>
            {% else %}
              <img src="img/poison.png" alt="poison"/>
            {% endif %}
          </th>
          <th style="width:calc(100% / 3);text-align:center;">
            {% if include.monster.immunity.dart == true %}
              <img src="img/dart_immune.png" alt="dart"/>
            {% else %}
              <img src="img/dart.png" alt="dart"/>
            {% endif %}
          </th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td style="width:calc(100% / 3);text-align:center;">
          {% if include.monster.immunity.recoil == true %}
            Immune
          {% elsif include.monster.immunity.recoil == false %}
            Not Immune
          {% else %}
            ?
          {% endif %}
        </td>
        <td style="width:calc(100% / 3);text-align:center;">
          {% if include.monster.immunity.poison == true %}
            Immune
          {% elsif include.monster.immunity.poison == false %}
            Not Immune
          {% else %}
            ?
          {% endif %}
        </td>
        <td style="width:calc(100% / 3);text-align:center;">
          {% if include.monster.immunity.dart == true%}
            Immune
          {% elsif include.monster.immunity.dart == false %}
            Not Immune
          {% else %}
            ?
          {% endif %}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
