<script>
  $(function(){
    $( "#pageHeader" ).html( "{{ include.quest.name }}" );
  });
</script>
<div class="row">
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading" style="text-align:center;font-size:15px" >
        Requirements
      </div>
      <div class="panel-body">
        <p><span style="font-weight:bold">Quests</span></p>
        {% if include.quest.questReq %}
          <ul>
          {% for req in include.quest.questReq %}
            <li>
              {{ req }}
            </li>
          {% endfor %}
          </ul>
        {% else %}
          <p>none</p>
        {% endif %}
        <span style="font-weight:bold">Combat levels</span>
        {% if include.quest.skillReq %}
          <ul>
          {% for req in include.quest.skillReq %}
            {% if req != 0 %}
              <li>
                {{ req }}
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        {% else %}
          <p>none</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading" style="text-align:center;font-size:15px" >
        Rewards
      </div>
      <div class="panel-body">
        <span style="font-weight:bold">Experience</span>
        {% if include.quest.skillRew %}
          <ul>
          {% for rew in include.quest.skillRew %}
            {% if rew != 0 %}
              <li>
                {{ rew }}
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        {% else %}
          <p>none</p>
        {% endif %}
        <span style="font-weight:bold">Other</span>
        {% if include.quest.otherRew %}
          <ul>
          {% for rew in include.quest.otherRew %}
            <li>
              {{ rew }}
            </li>
          {% endfor %}
          </ul>
        {% else %}
          <p>none</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading" style="text-align:center;font-size:15px" >
        Methods
      </div>
      <div class="panel-body">
        <ul>
        </ul>
      </div>
    </div>
  </div>
</div>
