<script>
  $(function(){
    $( "#pageHeader" ).html( "{{ include.quest.name }}" );
  });
</script>
<div class="row">
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        Requirements
      </div>
      <div class="panel-body">
        <span style="font-weight:bold">Quests</span>
        <ul>
        </ul>
        <span style="font-weight:bold">Combat levels</span>
        <ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        Rewards
      </div>
      <div class="panel-body">
        <span style="font-weight:bold">Experience</span>
        <ul>
        </ul>
        <span style="font-weight:bold">Other</span>
        <ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        Methods
      </div>
      <div class="panel-body">
        <ul>
        </ul>
      </div>
    </div>
  </div>
</div>
