<script>
  $(function(){
    $( "#pageHeader" ).html( "{{ include.quest.name }}" );
  });
</script>
<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading" style="text-align:center;font-size:15px;font-weight:bold" >
        Requirements
      </div>
      <div class="panel-body">
        <span style="font-weight:bold">Quests</span><br />
        {% if include.quest.questReq %}
          <ul>
          {% for req in include.quest.questReq %}
            <li><a href="quest?id={{ req }}">{{ site.data.quests | where_exp: req }}</a></li>
          {% endfor %}
          </ul>
        {% else %}
          None<br />
        {% endif %}
        <br />
        <span style="font-weight:bold">Combat levels</span><br />
        {% if include.quest.skillReq %}
          <ul>
            {% if include.quest.skillReq.att %}
              <li>
                {{ include.quest.skillReq.att }} <img src="img/attack.png" alt=""/> Attack
              </li>
            {% endif %}
            {% if include.quest.skillReq.str %}
              <li>
                {{ include.quest.skillReq.str }} <img src="img/strength.png" alt=""/> Strength
              </li>
            {% endif %}
            {% if include.quest.skillReq.def %}
              <li>
                {{ include.quest.skillReq.def }} <img src="img/defence.png" alt=""/> Defence
              </li>
            {% endif %}
            {% if include.quest.skillReq.mgc %}
              <li>
                {{ include.quest.skillReq.mgc }} <img src="img/magic.png" alt=""/> Magic
              </li>
            {% endif %}
            {% if include.quest.skillReq.rng %}
              <li>
                {{ include.quest.skillReq.rng }} <img src="img/ranged.png" alt=""/> Ranged
              </li>
            {% endif %}
            {% if include.quest.skillReq.con %}
              <li>
                {{ include.quest.skillReq.con }} <img src="img/constitution.png" alt=""/> Constitution
              </li>
            {% endif %}
            {% if include.quest.skillReq.pry %}
              <li>
                {{ include.quest.skillReq.pry }} <img src="img/prayer.png" alt=""/> Prayer
              </li>
            {% endif %}
            {% if include.quest.skillReq.sum %}
              <li>
                {{ include.quest.skillReq.sum }} <img src="img/summoning.png" alt=""/> Summoning
              </li>
            {% endif %}
            {% if include.quest.skillReq.cmb %}
              <li>
                {{ include.quest.skillReq.cmb }} <img src="img/multicombat.png" alt=""/> Combat
              </li>
            {% endif %}
          </ul>
        {% else %}
          None<br />
        {% endif %}
        {% if include.quest.otherReq %}
          <br />
          <span style="font-weight:bold">Other</span><br />
          <ul>
            {% for req in include.quest.otherReq %}
              <li>
                {{ req }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading" style="text-align:center;font-size:15px;font-weight:bold" >
        Rewards
      </div>
      <div class="panel-body">
        <span style="font-weight:bold">Combat Experience</span><br />
        {% if include.quest.skillRew or include.quest.lampsRew %}
          <ul>
            {% if include.quest.skillRew.att %}
              <li>
                {{ include.quest.skillRew.att }} <img src="img/attack.png" alt=""/> Attack XP
              </li>
            {% endif %}
            {% if include.quest.skillRew.str %}
              <li>
                {{ include.quest.skillRew.str }} <img src="img/strength.png" alt=""/> Strength XP
              </li>
            {% endif %}
            {% if include.quest.skillRew.def %}
              <li>
                {{ include.quest.skillRew.def }} <img src="img/defence.png" alt=""/> Defence XP
              </li>
            {% endif %}
            {% if include.quest.skillRew.mgc %}
              <li>
                {{ include.quest.skillRew.mgc }} <img src="img/magic.png" alt=""/> Magic XP
              </li>
            {% endif %}
            {% if include.quest.skillRew.rng %}
              <li>
                {{ include.quest.skillRew.rng }} <img src="img/ranged.png" alt=""/> Ranged XP
              </li>
            {% endif %}
            {% if include.quest.skillRew.con %}
              <li>
                {{ include.quest.skillRew.con }} <img src="img/constitution.png" alt=""/> Constitution XP
              </li>
            {% endif %}
            {% if include.quest.skillRew.pry %}
              <li>
                {{ include.quest.skillRew.pry }} <img src="img/prayer.png" alt=""/> Prayer XP
              </li>
            {% endif %}
            {% if include.quest.skillRew.sum %}
              <li>
                {{ include.quest.skillRew.sum }} <img src="img/summoning.png" alt=""/> Summoning XP
              </li>
            {% endif %}
            {% if include.quest.skillRew.cmb %}
              <li>
                {{ include.quest.skillRew.cmb }} <img src="img/multicombat.png" alt=""/> Combat XP
              </li>
            {% endif %}
            {% if include.quest.skillRew.any %}
              <li>
                {{ include.quest.skillRew.any }} <img src="img/prismatic.png" alt=""/> XP
              </li>
            {% endif %}
            {% if include.quest.lampsRew.att %}
              <li>
                {{ include.quest.lampsRew.att }} <img src="img/attack.png" alt=""/> Attack XP lamp
              </li>
            {% endif %}
            {% if include.quest.lampsRew.str %}
              <li>
                {{ include.quest.lampsRew.str }} <img src="img/strength.png" alt=""/> Strength XP lamp
              </li>
            {% endif %}
            {% if include.quest.lampsRew.def %}
              <li>
                {{ include.quest.lampsRew.def }} <img src="img/defence.png" alt=""/> Defence XP lamp
              </li>
            {% endif %}
            {% if include.quest.lampsRew.mgc %}
              <li>
                {{ include.quest.lampsRew.mgc }} <img src="img/magic.png" alt=""/> Magic XP lamp
              </li>
            {% endif %}
            {% if include.quest.lampsRew.rng %}
              <li>
                {{ include.quest.lampsRew.rng }} <img src="img/ranged.png" alt=""/> Ranged XP lamp
              </li>
            {% endif %}
            {% if include.quest.lampsRew.con %}
              <li>
                {{ include.quest.lampsRew.con }} <img src="img/constitution.png" alt=""/> Constitution XP lamp
              </li>
            {% endif %}
            {% if include.quest.lampsRew.pry %}
              <li>
                {{ include.quest.lampsRew.pry }} <img src="img/prayer.png" alt=""/> Prayer XP lamp
              </li>
            {% endif %}
            {% if include.quest.lampsRew.sum %}
              <li>
                {{ include.quest.lampsRew.sum }} <img src="img/summoning.png" alt=""/> Summoning XP lamp
              </li>
            {% endif %}
            {% if include.quest.lampsRew.cmb %}
              <li>
                {{ include.quest.lampsRew.cmb }} <img src="img/multicombat.png" alt=""/> Combat XP lamp
              </li>
            {% endif %}
            {% if include.quest.lampsRew.any %}
              <li>
                {{ include.quest.lampsRew.any }} <img src="img/prismatic.png" alt=""/> XP lamp
              </li>
            {% endif %}
          </ul>
        {% else %}
          None
        {% endif %}
        {% if include.quest.otherRew %}
          <br />
          <span style="font-weight:bold">Other</span><br />
          <ul>
          {% for rew in include.quest.otherRew %}
            <li>
              {{ rew }}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
